
     body {
        background-color:#f8ede3;
      }
      hr {
        border-style: none;
       border-top-style: dotted;
       border-color: grey;
       border-width: 5px;
       width:5%;
      }
     h3,h1,h2 {
         color: #f30a63f3;
      
     } 
    